.mainside {
  width: calc(100% - 340px);
    position: relative;
    margin-left: 340px;
    background: transparent;
    margin-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  
  .shopitemscont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px;
    a {
      color: #4f3f68cf;
    font-weight: bold;
    font-size: 14px;
    width: 21%;
    margin-bottom: 30px;
    }
    .item {
      color: #4f3f68cf;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    margin-bottom: 30px;
      .image {
        width: 100%;
    height: 212px;
    background: #4f3f68;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
      img {
        width: 94%;
      height: 94%;
      object-fit: cover;
      border-radius: 5px;
      }
      }
      .title {
        margin-top: 10px;
        padding-left: 5px;
      }
      .price {
        margin-top: 5px;
        /* margin-top: 10px; */
        padding-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 1366px) and (min-width: 375px){
  .mainside {
    width: calc(100% - 270px);
    margin-left: 270px;
    .back{
    width: calc(100% - 270px);
    }
  }
}