.MuiListItemText-primary {
    font-weight: bold !important;
}


  #bracketview {
    height: 100%;
    overflow: scroll;
    &.csgo {
      margin-left: 11px;
      img {
        width: calc(100% - 90px);
    margin-top: 30px;
    margin-left: 15px;
    object-fit: contain;
      }
    }
    .team {
        background-color: #e9e9e9 !important;
        cursor: default;
        width: 120px;
        border: none !important;
        border-radius: 0px !important;
        &.win {
          .label {
            color: #000;
          }
        }
      &.lose {
        background-color: #666666 !important;
        color: #fff;
      }
      &.na {
        background-color: #666 !important;
        color: #fff;
       }
    }
    
  }