.single {
  margin-top: 150px;
  display: flex;
  .image {
    width: 50%;
    margin-right: 50px;
    img {
      width: 100%;
    height: 100%;
    object-fit: cover;
    }
  }
  .right {
    color: #4f3f68;
    font-weight: bold;
    font-size: 16px;
    .title {
      font-size: 20px;
    }
    .desc {
      font-size: 14px;
      color: #524343;
      margin-top: 10px;
    }
    .info {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      span {
        margin: 5px 0;
      }
    }
    .count {
      margin: 20px 0;
      display: flex;
      width: 150px;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      font-size: 27px;
      border: 1px solid #00000030;
      padding: 0 16px;
    }
    button {
      width: 200px;
      height: 50px;
      font-weight: bold;
      margin-top: 20px
    }
  }
}