.header {
  background: transparent;
  height: 75px;
  width: calc(100% - 340px);
  display: flex;
  margin-left: 340px;
  position: fixed;
  align-items: center;
  top: 0;
  z-index: 2;
  padding: 0 25px;
  justify-content: space-between;
  .search {
    position: relative;
    input {
      outline: none;
      width: 420px;
      height: 41px;
      padding-left: 15px;
      border: 1px solid #eee;
      border-radius: 3px;
    }
    svg {
      color: #4f3f68;
      font-size: 25px;
      position: absolute;
      right: 7px;
      top: 8px;
    }
  }
  .right {
    display: flex;
    color: #4f3f68;
    justify-content: center;
    align-items: center;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
      svg {
        font-size: 23px;
    margin-left: 5px;
      }
    }
  }
}
